[Unit]
Description=Python Camera Test Remote Service
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'sleep 15 && python /home/pi/main.py'

[Install]
WantedBy=multi-user.target
